
// div {
//   border: 1px solid black;
//   border-collapse: collapse;
// }
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

mat-form-field.mat-form-field {
  width: 100%;
}

mat-form-field {
  padding-top: 10px;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
  float:right;
}

mat-toolbar.mat-toolbar {
  margin-bottom: 20px;
}
mat-expansion-panel.mat-expansion-panel {
  width: 100%;
}

.mat-expansion-panel-header {
  padding: 0;
}
